services:
  {% if add_auto_instrumentation %}
  jaeger:
    image: jaegertracing/all-in-one:${JAEGER_VERSION:-latest}
    ports:
      - "16686:16686"
      - "4317:4317"
    environment:
      - LOG_LEVEL=debug
  {% endif %}

  backend:
    build: .
    ports:
      - 8080:8080
    volumes:
      - .:/srv/{{project_prefix}}
      - ./shared:/shared
    command: {% if add_auto_instrumentation %}opentelemetry-instrument{% endif %} gunicorn api.main:app -w 1 -k uvicorn.workers.UvicornWorker -b :8080 -t 180
    env_file:
      - .env
    tty: true
    restart: always
